
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open sans Regular'), local('Open sans-Regular'),
      url(../fonts/open-sans.woff2) format("woff2"),
      url(../fonts/open-sans.woff) format("woff");
}

@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open sans SemiBold'), local('Open sans-SemiBold'),
      url(../fonts/open-sans-semibold.woff2) format("woff2"),
      url(../fonts/open-sans-semibold.woff) format("woff");
}

@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open sans Bold'), local('Open sans-Bold'),
      url(../fonts/open-sans-bold.woff2) format("woff2"),
      url(../fonts/open-sans-bold.woff) format("woff");
}

@font-face {
  font-family: 'Open sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open sans Italic'), local('Open sans-Italic'),
      url(../fonts/open-sans-italic.woff2) format("woff2"),
      url(../fonts/open-sans-italic.woff) format("woff");
}

:root {

  /* colors */

  --color_purple: #9d5cd0;
  --color_purple_light: #c283f3;
  --color_purple_deep: #7943a4;
  --color_dark: #333;
  --color_white: #fff;

  /* transition */

  --fast: .3s ease-in-out;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: 'Open sans', sans-serif;
  font-style: normal;
  background-color: var(--color_white);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
  border: none;
  border-radius: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  max-width: 1700px;
}

.section-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color_dark);
}

.section-text {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color_dark);
}

/* header */

.header-top {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
}

.container-header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
  transition: background-color var(--fast);
}

.logo-link {
  display: inline-block;
  margin-right: 30px;
  transition: outline var(--fast);
}

.logo-link:focus {
  outline: 5px solid var(--color_purple_deep);
  outline-offset: 5px;
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: calc(1250 / 1600 * 100%);
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
}

.nav__item:not(:last-child) {
  margin-right: 63px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color_white);
  transition: color var(--fast);
}

.login-link {
  position: relative;
  align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  white-space: nowrap;
  color: var(--color_white);
  transition: color var(--fast);
}

.login-link-content {
  display: flex;
  align-items: baseline;
  overflow: hidden;
  transition: padding-left var(--fast);
}

.nav__link::before,
.login-link::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -2px;
  bottom:-2px;
  background-color: var(--color_purple_deep);
  transform: scaleX(0);
  transition: transform var(--fast);
}

.nav__link:focus,
.login-link:focus {
  outline: none;
  border: none;
}

.nav__link:focus:not(:hover):not(:active)::before,
.login-link:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

.nav__link-text,
.login-link-text {
  position: relative;
}

.nav__link:hover,
.login-link:hover {
  color: var(--color_purple_light);
  background-color: inherit;
}

.nav__link:active,
.login-link:active {
  color: var(--color_purple_deep);
  background-color: inherit;
}

.login-link:hover .login-link-content,
.login-link:active .login-link-content {
  padding-left: 4px;
}

.login-link svg {
  position: relative;
  transform: translateX(-4px);
}

.login-link svg path {
  transition: fill var(--fast);
}

.login-link:hover svg path {
  fill: var(--color_purple_light);
}

.login-link:active svg path {
  fill:  var(--color_purple_deep);
}

.header-bottom {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.container-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom {
  width: 100%;
}

.nav-bottom__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(1250 / 1600 * 100%);
}

.nav-bottom__item {
  position: relative;
}

.nav-bottom__item:not(:last-child) {
  margin-right: 96px;
}

.nav-bottom__button {
  position: relative;
  color: var(--color_white);
  transition: color var(--fast), backgroud-color var(--fast);
}

.nav-bottom__button-text {
  position: relative;
  font-family: 'Open sans';
  font-size: 18px;
}

.nav-bottom__button svg {
  position: relative;
}

.nav-bottom__button svg path {
  transition: stroke var(--fast);
}

.nav-bottom__button::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -2px;
  bottom:-2px;
  background-color: var(--color_purple_deep);
  transform: scaleX(0);
  transition: transform var(--fast);
}

.nav-bottom__button:focus {
  outline: none;
}

.nav-bottom__button:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

.nav-bottom__button:hover {
  color: var(--color_purple_light);
  background-color: inherit;
}

.nav-bottom__button:hover svg path {
  stroke: var(--color_purple_light);
}

.nav-bottom__button.active {
  color: var(--color_purple_deep);
  background-color: inherit;
}

.nav-bottom__item .nav-bottom__button.active:focus::before {
  transform: scaleX(0);
}

.nav-bottom__button.active svg path {
  stroke: var(--color_purple_deep);
}

.nav-bottom__button svg {
  transition: transform var(--fast);
}

.nav-bottom__button.active svg {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 44px;
  left: 0;
  display: inline-block;
  padding: 40px;
  padding-right: 18px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(0);
  transform-origin: 0 0;
  visibility: hidden;
  transition: transform var(--fast), visibility var(--fast);
}

.dropdown.active {
  transform: scale(1);
  visibility: visible;
}

.dropdown__bar {
  height: 100%;
  overflow: auto;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.dropdown__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 14px;
  min-height: 40px;
}

.dropdown__name {
  position: relative;
  z-index: 1;
}

.dropdown__link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.dropdown__link_number_1-1::before {
  background-image: url(../img/dropdown1-item1.jpg);
}

.dropdown__link_number_1-2::before {
  background-image: url(../img/dropdown1-item2.jpg);
}

.dropdown__link_number_1-3::before {
  background-image: url(../img/dropdown1-item3.jpg);
}

.dropdown__link_number_1-4::before {
  background-image: url(../img/dropdown1-item4.jpg);
}

.dropdown__link_number_1-5::before {
  background-image: url(../img/dropdown1-item4.jpg);
}

.dropdown__link_number_2-1::before {
  background-image: url(../img/dropdown2-item1.jpg);
}

.dropdown__link_number_2-2::before {
  background-image: url(../img/dropdown2-item2.jpg);
}

.dropdown__link_number_2-3::before {
  background-image: url(../img/dropdown2-item3.jpg);
}

.dropdown__link_number_2-4::before {
  background-image: url(../img/dropdown2-item4.jpg);
}

.dropdown__link_number_2-5::before {
  background-image: url(../img/dropdown2-item4.jpg);
}

.dropdown__link_number_3-1::before {
  background-image: url(../img/dropdown3-item1.jpg);
}

.dropdown__link_number_3-2::before {
  background-image: url(../img/dropdown3-item2.jpg);
}

.dropdown__link_number_3-3::before {
  background-image: url(../img/dropdown3-item3.jpg);
}

.dropdown__link_number_3-4::before {
  background-image: url(../img/dropdown3-item4.jpg);
}

.dropdown__link_number_3-5::before {
  background-image: url(../img/dropdown3-item4.jpg);
}

.dropdown__link_number_4-1::before {
  background-image: url(../img/dropdown4-item1.jpg);
}

.dropdown__link_number_4-2::before {
  background-image: url(../img/dropdown4-item2.jpg);
}

.dropdown__link_number_4-3::before {
  background-image: url(../img/dropdown4-item3.jpg);
}

.dropdown__link_number_4-4::before {
  background-image: url(../img/dropdown4-item4.jpg);
}

.dropdown__link_number_4-5::before {
  background-image: url(../img/dropdown4-item4.jpg);
}

.dropdown__link_number_5-1::before {
  background-image: url(../img/dropdown5-item1.jpg);
}

.dropdown__link_number_5-2::before {
  background-image: url(../img/dropdown5-item2.jpg);
}

.dropdown__link_number_5-3::before {
  background-image: url(../img/dropdown5-item3.jpg);
}

.dropdown__link_number_5-4::before {
  background-image: url(../img/dropdown5-item4.jpg);
}

.dropdown__link_number_5-5::before {
  background-image: url(../img/dropdown5-item4.jpg);
}

.dropdown__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color_white);
}

.dropdown__link:focus {
  border: none;
  outline: none;
}

.dropdown__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.dropdown__link:focus::after {
  outline: 2px solid var(--color_purple_light);
  outline-offset: -2px;
}

.dropdown__link:hover::after {
  outline: 2px solid var(--color_purple_light);
  outline-offset: -2px;
}

.dropdown__link:active::after {
  outline: 2px solid #d1a9f0;
  outline-offset: -2px;
  background-color: rgba(194, 131, 243, 0.4);
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: var(--color_white);
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.search {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -80px;
  right: 50px;
  z-index: 1;
}

.search__btn{
  margin-right: 7px;
  transition: outline var(--fast);
}

.search__input {
  min-width: 220px;
  padding-bottom: 3px;
  color: var(--color_white);
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--color_white);
  transition: border var(--fast);
}

.search__input:focus {
  outline: none;
  border-bottom: 1px solid var(--color_purple_light);
}

.search__input:hover {
  outline: none;
  border-bottom: 1px solid var(--color_purple_light);
}

.search__input:active {
  outline: none;
  border-bottom: 1px solid var(--color_purple_deep);
}

.search__close-btn {
  display: none;
}

.search__input::placeholder {
  font-size: 18px;
  color: var(--color_white);
}

.burger:focus .burger__line,
.burger:focus::before,
.burger:focus::after {
  outline: none;
  background-color: var(--color_purple_deep);
}

.burger:focus-visible {
  outline: none;
}

.burger:hover .burger__line,
.burger:hover::before,
.burger:hover::after {
  background-color: var(--color_purple);
}

.search__btn:focus-visible,
.search__close-btn:focus-visible {
  outline: none;
}

.search__btn svg rect,
.search__btn svg path,
.search__close-btn svg rect {
  transition: fill var(--fast);
}

.search__btn:focus svg rect,
.search__btn:focus svg path,
.search__close-btn:focus svg rect {
  fill: var(--color_purple_deep);
}

.search__btn:hover svg rect,
.search__btn:hover svg path,
.search__close-btn:hover svg rect {
  fill: var(--color_purple);
}


/* hero */

.hero {
  margin-top: -170px;
  margin-bottom: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: background 60000ms infinite, zoom 40000ms infinite;
}

@keyframes zoom {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 120% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

@keyframes background {
  0% {
    background-image: url(../img/Hero1-1920.jpg);
  }
  33.3% {
    background-image: url(../img/Hero2-1920.jpg);
  }
  66.6% {
    background-image: url(../img/Hero3-1920.jpg);
  }
  100% {
    background-image: url(../img/Hero1-1920.jpg);
  }
}

.hero-content {
  padding-top: 240px;
  padding-bottom: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.hero-content__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: var(--color_white);
}

.hero-content__text {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color_white);
}

.hero-content__link {
  display: inline-block;
  padding: 22px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color_white);
  text-align: center;
  background-color: var(--color_purple);
  border-radius: 100px;
  transition: background-color var(--fast);
}

.hero-content__link:focus {
  border: none;
  outline: 2px solid var(--color_purple_light);
  outline-offset: 5px;
}

.hero-content__link:hover {
  border: none;
  outline: 3px solid var(--color_purple_light);
  outline-offset: 0;
}

.hero-content__link:active {
  border: none;
  outline: 3px solid var(--color_purple_light);
  background-color: var(--color_purple_deep);
  outline-offset: 0;
}

/* about */

.about {
  margin-bottom: 70px;
}

/* gallery */

.gallery {
  margin-bottom: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../img/Gallery-bcg-1920.jpg) no-repeat;
  background-size: cover;
}

.gallery__title {
  color: var(--color_white);
}

.gallery__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery__select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  margin-right: 50px;
  min-width: 400px;
  align-self: stretch;
}

.gallery__subtitle {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color_white);
}

.gallery__link {
  color:var(--color_purple);
  cursor: pointer;
}

.choices {
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color_white);
}

.choices__inner {
  position: relative;
  min-height: auto;
  border-radius: 6px;
  border: 1px solid var(--color_white);
  background-color: inherit;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
  padding-left: 10px;
}

.is-focused .choices__inner {
  border: 1px solid var(--color_white);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--single .choices__item {
  display: block;
  width: 100%;
  font-size: 16px;
}

.is-open .choices__inner {
  border: 1px solid var(--color_white);
  border-radius: 6px;
}

.choices__list--dropdown {
  top: 0;
  opacity: 0;
  transition: opacity var(--fast), top var(--fast);
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 3px 0px 3px 20px;
  font-size: 16px;
  color: #999;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.is-open .choices__list--dropdown {
  position: relative;
  top: 0;
  opacity: 1;
  border: 1px solid #999;
  border-radius: 6px;
  background: inherit;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: inherit;
}

.choices__list--dropdown .choices__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color_white);
  transition: background-color var(--fast);
}

.choices[data-type*=select-one]:after {
  height: 6px;
  width: 6px;
  top: 19px;
  right: 16px;
  border-width: 0px;
  border-right: 1px solid var(--color_white);
  border-top: 1px solid var(--color_white);
  transform: rotate(135deg);
  z-index: 3;
  transition: transform var(--fast);
}

.choices[data-type*=select-one].is-open:after {
  border-width: 0px;
  border-right: 1px solid var(--color_white);
  border-top: 1px solid var(--color_white);
  transform: rotate(-45deg);
  margin-top: 0px;
  z-index: 3;
}

.checkbox-list {
  margin-top: auto;
  margin-bottom: 6px;
}

.checkbox-item {
  display: flex;
  align-items: baseline;
}

.checkbox-item:not(:last-child) {
  margin-bottom: 14px;
}

.checkbox-descript {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-text {
  color: var(--color_white);
  transition: color var(--fast);
}

.checkbox {
  position: absolute;
  left: 0;
  bottom: 2px;
  opacity: 0;
}

.checkbox + span {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color_white);
  transition: border var(--fast);
}

.checkbox:focus + span {
  border: 1px solid var(--color_purple_light);
}

.checkbox:focus ~ .checkbox-text {
  color: var(--color_purple_light);
}

.checkbox + span:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 3px;
  width: 4px;
  height: 4px;
  background-color: var(--color_purple_light);
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--fast);
}

.checkbox:checked + span:before {
  opacity: 1;
}

.checkbox:checked + span {
  border: 1px solid var(--color_purple_light);
}

.checkbox:checked ~ .checkbox-text {
  color: var(--color_purple_light);
}

.checkbox-text:hover {
  color: var(--color_purple_light);
}

.checkbox-descript:hover .checkbox + span {
  border: 1px solid var(--color_purple_light);
}

.gallery__swiper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .swiper-wrapper {
  display: flex;
  flex-direction: row;
} */

/* .swiper-grid-column>.swiper-wrapper {
  flex-direction: row;
} */

.gallery__swiper-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  max-width: 133px;
}

.gallery__swiper-button-prev, .gallery__swiper-button-next {
  position: relative;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.gallery__swiper-pagination {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  bottom: 0;
  color: var(--color_white);
}

.gallery__swiper-button-next:after, .gallery__swiper-button-prev:after {
  position: absolute;
  font-size: 12px;
  color: var(--color_white);
}

.gallery__swiper-button-next::before, .gallery__swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 20px;
  transition: background-color var(--fast);
}

.gallery__swiper-button-next:hover::before, .gallery__swiper-button-prev:hover::before {
  background-color: var(--color_purple);
}

.gallery__swiper-button-next:focus::before, .gallery__swiper-button-prev:focus::before {
  border: 2px solid #000;
}

.gallery__swiper-button-next:active::before, .gallery__swiper-button-prev:active::before {
  background-color: var(--color_purple_deep);
  border: 2px solid #000;
}

.gallery__swiper-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery__swiper-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/Magnifier.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery__swiper-slide:hover::after {
  opacity: 1;
}

.gallery__swiper-slide:focus {
  outline: none;
}

.gallery__swiper-slide:focus::before {
  border-color: var(--color_purple_deep);
}

.gallery__swiper-slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.swiper-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* catalog */

.catalog__painters {
  display: flex;
}

.catalog__painter-info {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: calc(50% - 50px);
}

.catalog__painter-img {
  margin-bottom: 30px;
  width: 100%;
}

.catalog__painter-name {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 24px;
}

.catalog__painter-years {
  display: block;
  margin-bottom: 9px;
  font-size: 12px;
  color: #999;
}

.catalog__text {
  margin-bottom: 40px;
}

.catalog__accordion {
  width: 50%;
}

.catalog__accordion-list {
  padding-top: 25px;
  padding-bottom: 25px;
  column-count: 3;
  column-fill: auto;
}

.catalog__accordion-item {
  padding-right: 10px;
}

.catalog__accordion-name-btn {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: start;
  color: var(--color_dark);
  transition: color var(--fast), border var(--fast), background-color var(--fast);
}

.catalog__accordion-name-btn:hover {
  text-decoration: underline;
  color: var(--color_purple);
}

.catalog__accordion-name-btn:active {
  text-decoration: none;
  color: var(--color_purple_deep);
}

.catalog__accordion-name-btn:focus {
  color: var(--color_white);
  background-color: var(--color_purple);
  border: none;
  outline: none;
}

.ac {
  margin-top: 0;
  border-right: none;
  border-left: none;
}

.ac .ac-trigger {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  font-family: 'Open sans',sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--color_dark);
}

.ac .ac-trigger::after {
  display: none;
}

.ac.is-active>.ac-header .ac-trigger::after {
  display: none;
}

.ac:first-child:hover,
.ac:hover,
.ac:focus-within {
  border-color: var(--color_purple);
}

.catalog__accordion-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color.3s, .6s ease, transform .3s, .6s ease;
}

.catalog__accordion-icon-round {
  transition: fill .5s ease, stroke .5s ease;
}

.ac .catalog__accordion-dates:hover,
.ac .catalog__accordion-dates:focus {
  color: var(--color_purple);
  outline: none;
}

.catalog__accordion-dates:hover .catalog__accordion-icon-round,
.catalog__accordion-dates:focus .catalog__accordion-icon-round {
  fill: #D1A9F0;
  stroke: #D1A9F0;
}

.catalog__accordion-dates:hover .catalog__accordion-icon::before,
.catalog__accordion-dates:hover .catalog__accordion-icon::after,
.catalog__accordion-dates:focus .catalog__accordion-icon::before,
.catalog__accordion-dates:focus .catalog__accordion-icon::after {
  background-color: var(--color_white);
}

.ac.is-active>.ac-header .catalog__accordion-icon {
  transform: translateY(-50%) rotate(0);
}

.ac.is-active>.ac-header .catalog__accordion-icon-round {
  fill: #D1A9F0;
  stroke: var(--color_purple);
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
  animation-name: fadeIn;
  animation-duration: .5s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.catalog__accordion-dates-info {
  display: flex;
  padding: 25px 0;
}

.catalog__accordion-dates-img {
  margin-right: 36px;
  margin-left: 13px;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 250px;
  height: 165px;
  background-color: #b7b7b7;
  outline: 1px solid #b7b7b7;
  outline-offset: 11px;
}

.catalog__accordion-dates-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 275px;
  overflow: hidden;
}

.catalog__painter-description_empty {
  margin-bottom: 15px;
}

.catalog__link {
  font-weight: 600;
  color: var(--color_purple);
}

.catalog__accordion-dates-description_empty h3 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.catalog__accordion-dates-description_empty p {
  margin-bottom: 10px;
  line-height: 22px;
}

/* events */

.events {
  margin-bottom: 80px;
}

.events__container {
  position: relative;
}

.events__swiper {
  position: unset;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.article {
  display: flex;
  flex-direction: column;
  height: unset;
}

.article__bacground_number_1 {
  background: url(../img/article__bacground_number_1-1920.jpg) no-repeat;
}

.article__bacground_number_2 {
  background: url(../img/article__bacground_number_2-1920.jpg) no-repeat;
}

.article__bacground_number_3 {
  background: url(../img/article__bacground_number_3-1920.jpg) no-repeat;
}

.article__bacground_number_4 {
  background: url(../img/article__bacground_number_4-1920.jpg) no-repeat;
}

.article__bacground_number_5 {
  background: url(../img/article__bacground_number_5-1920.jpg) no-repeat;
}

.article__bacground {
  width: 100%;
  height: 300px;
  background-position: center;
}

.article__content {
  padding: 13px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 300px);
  border: 1px solid #cacaca;
}

.article__subtitle {
  margin-bottom: 2px;
  font-size: 12px;
  color: #999;
}

.article__subtitle_pos_2 {
  margin-bottom: 15px;
}

.article__title {
  margin-bottom: 10px;
  max-width: 440px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.article__text {
  margin-bottom: 70px;
}

.article__link {
  position: relative;
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: auto;
}

.article__link::before {
  content: "";
  position: absolute;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom:-10px;
  background-color: var(--color_purple_deep);
  transform: scaleX(0);
  transition: transform var(--fast);
}

.article__link:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

.article__link-text {
  position: relative;
  padding-bottom: 2px;
  color: var(--color_purple);
  border-bottom: 1px solid var(--color_purple);
  transition: color var(--fast),border var(--fast);
}

.article__link:focus {
  border: none;
  outline: none;
}
.article__link:focus .article__link-text {
  color: var(--color_white);
  border-bottom: 1px solid var(--color_white);
}

.article__link:hover .article__link-text {
  color: var(--color_purple_deep);
  border-bottom: 1px solid var(--color_purple_deep);
}

.article__link:active .article__link-text {
  color: var(--color_dark);
  border-bottom: 1px solid var(--color_dark);
}

.events__swiper-button-prev, .events__swiper-button-next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  transition: opacity var(--fast);
}

.events__swiper-button-prev {
  left: 0;
  transform: translate(50%, 75%);
}

.events__swiper-button-next {
  right: 0;
  transform: translate(-50%, 75%);
}

.events__swiper-button-next:after, .events__swiper-button-prev:after {
  position: absolute;
  font-size: 16px;
  color: #000;
}

.events__swiper-button-next::before, .events__swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border-radius: 30px;
  transition: background-color var(--fast), border var(--fast);
}

.events__swiper-button-next:hover::before,
.events__swiper-button-prev:hover::before {
  background-color: #d1a9f0;
}

.events__swiper-button-next:focus::before,
.events__swiper-button-prev:focus::before {
  outline: 3px solid var(--color_purple);
}

.events__swiper-button-next:active::before,
.events__swiper-button-prev:active::before {
  outline: 3px solid var(--color_purple);
  background-color: #d1a9f0;
}

.events__swiper .swiper-button-disabled {
  opacity: 0;
}

.events__swiper-pagination {
  display: none;
}

@media (max-width: 1600px) {

  /* header */

  .nav-bottom__item:not(:last-child) {
    margin-right: 36px;
  }

  .nav__item:not(:last-child) {
    margin-right: 35px;
}

  /* hero */

  @keyframes background {
    0% {
      background-image: url(../img/Hero1-1024.jpg);
    }
    33% {
      background-image: url(../img/Hero2-1024.jpg);
    }
    66% {
      background-image: url(../img/Hero3-1024.jpg);
    }
    100% {
      background-image: url(../img/Hero1-1024.jpg);
    }
  }

  /* gallery */

  .gallery__select {
    min-width: 280px;
  }

}

@media (max-width: 1024px) {

  /* header */

  .container-header-top {
    padding-top: 3px;
  }

  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: -24px;
    left: -100%;
    margin-right: 0;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    max-width: unset;
    width: 100%;
    height: 771px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .3s ease;
    z-index: 2;
  }

  .nav.active {
    visibility: visible;
    left: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__item {
    margin-bottom: 40px;
  }

  .burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    z-index: 5;
  }

  .burger__line {
    display: block;
    position: absolute;
    background-color: var(--color_white);
    width: 28px;
    height: 3px;
    left: 0;
    top: 12px;
    transition: all .3s ease;
  }

  .burger::before,
  .burger::after {
    content:'';
    position: absolute;
    background-color: var(--color_white);
    height: 3px;
    left: 0;
    transition: all .3s ease;
  }

  .burger::before {
    top: 0;
    width: 36px;
  }

  .burger::after {
    bottom: 0;
    width: 24px;
  }

  .burger.active .burger__line {
    transform: scale(0);
  }

  .burger.active::before {
    transform: rotate(45deg);
    top: 12px;
    width: 28px;
  }

  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 13px;
    width: 28px;
  }

  .logo-link {
    margin-right: 5px;
  }

  .logo {
    width: 188px;
  }

  .login-link {
    display: inline-block;
    align-self: start;
    padding: 20px 88px;
    border: 2px solid var(--color_purple);
    border-radius: 100px;
    transition: background-color var(--fast), border var(--fast), padding var(--fast);
  }

  .login-link:focus {
    color: var(--color_white);
    border: 2px solid var(--color_purple);
    outline: 2px solid var(--color_purple_light);
    outline-offset: 5px;
    background-color: inherit;
  }

  .login-link::before {
    background-color: unset;
  }

  .login-link:hover {
    padding-left: 84px;
    color: var(--color_white);
    outline: none;
    background-color: var(--color_purple);
  }

  .login-link:active {
    color: var(--color_white);
    outline: none;
    border: 2px solid #d1a9f0;
    background-color: var(--color_purple_deep);
  }

  .login-link:hover svg path {
    fill: var(--color_white);
  }

  .login-link:active svg path {
    fill:  var(--color_white);
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
  }

  .search__svg {
    width: 30px;
    height: 30px;
  }

  .search__input {
    display: none;
  }

  .search.active .search__input {
    display: inline-block;
  }

  .header-bottom {
    display: none;
  }

  .search__btn {
    margin-right: 0;
  }

  /* hero */

  .hero {
    margin-top: -100px;
    background-size: cover;
  }

  .hero-content {
    padding-top: 213px;
    padding-bottom: 115px;
    max-width: 660px;
  }

  .hero-content__title {
    margin-bottom: 12px;
  }

  .hero-content__text {
    margin-bottom: 133px;
  }

  @keyframes background {
    0% {
      background-image: url(../img/Hero1-768.jpg);
    }
    33% {
      background-image: url(../img/Hero2-768.jpg);
    }
    66% {
      background-image: url(../img/Hero3-768.jpg);
    }
    100% {
      background-image: url(../img/Hero1-768.jpg);
    }
  }

  /* gallery */

  .gallery__select {
    min-width: 280px;
    padding-bottom: 36px;
  }

  .gallery__swiper-slide::before {
    padding-top: calc(112% - 6px);
  }

  /* catalog */

  .catalog__painter-info {
    width: calc(50% - 25px);
  }

  .catalog__accordion {
    width: calc(50% - 25px);
  }

  .catalog__accordion-list {
    column-count: 2;
  }

  .catalog__painter-description_empty {
    margin-bottom: 15px;
    max-width: 400px;
    line-height: 22px;
  }

  .catalog__accordion-dates-description {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .catalog__accordion-dates-img {
    margin-right: 33px;
    margin-left: 22px;
    margin-top: 45px;
    margin-bottom: 36px;
    max-width: 174px;
    max-height: 114px;
    outline-offset: 7px;
  }

  /* events */

  .article__bacground_number_1 {
    background: url(../img/article__bacground_number_1-1024.jpg) no-repeat;
  }

  .article__bacground_number_2 {
    background: url(../img/article__bacground_number_2-1024.jpg) no-repeat;
  }

  .article__bacground_number_3 {
    background: url(../img/article__bacground_number_3-1024.jpg) no-repeat;
  }

  .article__bacground_number_4 {
    background: url(../img/article__bacground_number_4-1024.jpg) no-repeat;
  }

  .article__bacground_number_5 {
    background: url(../img/article__bacground_number_5-1024.jpg) no-repeat;
  }

  .article__bacground {
    width: 100%;
    height: 200px;
    background-size: cover;
  }

  .article__content {
    padding: 14px 34px 51px 34px;
    height: calc(100% - 200px);
  }

  .article__subtitle {
    align-self: flex-end;
  }

  .article__subtitle_pos_2 {
    margin-bottom: 6px;
  }

  .article__title {
    margin-bottom: 6px;
  }

  .article__text {
    margin-bottom: 0;
  }

  .events__swiper-button-prev, .events__swiper-button-next {
    display: none;
  }


}

@media (max-width: 768px) {

  /* header */

  .search__svg {
    width: 27px;
    height: 27px;
  }

  .search.active {
    position: absolute;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    top: -28px;
    width: 100%;
    height: 100px;
    background-color: #000;
    z-index: 5;
  }

  .search__input {
    margin-left: 20px;
    margin-right: 20px;
    max-width: unset;
    width: 100%;
  }

  .search.active .search__close-btn {
    display: inline-block;
    transition: outline var(--fast);
  }

  /* hero */


  /* galery */

  .gallery__content {
    flex-direction: column;
  }

  .choices {
    margin-bottom: 43px;
    max-width: 280px;
  }

  .swiper-navigation {
    align-items: baseline;
    margin-bottom: 25px;
    padding-top: 23px;
  }

  .swiper-pagination {
    bottom: 10px;
  }

  .gallery__swiper-slide::before {
    padding-top: calc(103% - 6px);
  }

  /* catalog */

  .catalog__text {
    margin-bottom: 21px;
  }

  .catalog__painters {
    display: flex;
    flex-direction: column-reverse;
  }

  .catalog__painter-info {
    width: 100%;
  }

  .catalog__accordion {
    margin-bottom: 50px;
    width: 100%;
  }

  .catalog__accordion-list {
    column-count: 3;
  }

  .catalog__accordion-dates-img {
    margin-right: 36px;
    max-width: 250px;
    max-height: 165px;
    outline-offset: 11px;
  }

  /* events */

  .article__content {
    padding: 14px 34px 56px 34px;
  }

  .article__subtitle {
    margin-right: -16px;
  }

  .article__text {
    margin-bottom: 30px;
  }


}

@media (max-width: 640px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .section-text {
    font-size: 14px;
    line-height: 28px;
  }

  /* header */

  .header-top {
    height: 45px;
  }

  .container-header-top {
    padding-top: 0px;
  }

  .logo {
    max-width: 97px;
    padding-top: 4px;
  }

  .nav {
    top: -17px;
    padding-left: 15px;
    padding-top: 70px;
    padding-bottom: 27px;
    height: 375px;
  }

  .nav__item {
    margin-bottom: 2px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger__line {
    width: 16px;
    height: 2px;
    top: 7px;
  }

  .burger::before {
    width: 25px;
    height: 2px;
  }

  .burger::after {
    width: 10px;
    height: 2px;
  }

  .burger.active:before {
    transform: rotate(45deg);
    top: 7px;
    width: 19px;
  }

  .burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
    width: 19px;
  }

  .login-link {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 16px;
  }

  .search {
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .search.active {
    padding-right: 15px;
    top: -12px;
    height: 70px;
  }

  .search__btn svg {
    width: 18px;
    height: 18px;
  }

  .search__close-btn {
    align-self: start;
  }

  .search__close-btn svg {
    width: 15px;
    height: 15px;
  }

  /* hero */

  .hero {
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .hero-content {
    padding-top: 83px;
    padding-bottom: 45px;
    align-items: center;
    margin: auto;
    max-width: 265px;
    width: 100%;
  }

  .hero-content__title {
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 115%;
    text-align: center;
  }

  .hero-content__text {
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero-content__link {
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }

  /* about */

  .about {
    margin-bottom: 41px;
  }

  /* gallery */

  .gallery {
    margin-bottom: 50px;
    padding-top: 51px;
    padding-bottom: 21px;
  }

  .gallery__subtitle {
    margin-bottom: 4px;
  }

  .gallery__select {
    margin-bottom: 0;
    margin-right: 0;
    padding-bottom: 31px;
  }

  .gallery__swiper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .choices {
    margin-bottom: 36px;
    max-width: unset;
    line-height: 30px;
  }

  .gallery__swiper-slide::before {
    padding-top: calc(127% - 6px);
  }

  .swiper-navigation {
    padding-top: 35px;
  }

  /* catalog */

  .catalog__accordion-list {
    padding-top: 22px;
    padding-bottom: 19px;
    column-count: 1;
  }

  .catalog__text {
    display: none;
  }

  .ac .ac-trigger {
    padding-top: 24px;
    padding-bottom: 22px;
    font-size: 18px;
  }

  .catalog__accordion-icon {
    width: 30px;
    height: 30px;
  }

  .catalog__painter-img {
    margin-bottom: 22px;
  }

  .catalog__painter-name {
    margin-bottom: 16px;
  }

  .catalog__painter-description {
    padding-right: 3px;
    font-size: 16px;
    line-height: 32px;
  }

  .catalog__painter-description_empty {
    margin-bottom: 10px;
  }

  .catalog__accordion-dates-img {
    margin-right: 31px;
    margin-left: 6px;
    max-width: 79px;
    max-height: 118px;
    outline-offset: 5px;
  }

  .catalog__accordion-dates-description_empty h3 {
    font-size: 18px;
  }

  /* events */

  .article__bacground {
    background-position: center 25%;
  }

  .article__content {
    padding: 18px 22px 56px 22px;
  }

  .article__subtitle {
    margin-right: -5px;
  }

  .article__subtitle_pos_2 {
    margin-bottom: 10px;
  }

  .article__text {
    margin-bottom: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 32px;
  }

  .article__link {
    padding-left: 6px;
  }

}
