
@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open sans Regular'), local('Open sans-Regular'),
      url(../fonts/open-sans.woff2) format("woff2"),
      url(../fonts/open-sans.woff) format("woff");
}

@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open sans SemiBold'), local('Open sans-SemiBold'),
      url(../fonts/open-sans-semibold.woff2) format("woff2"),
      url(../fonts/open-sans-semibold.woff) format("woff");
}

@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open sans Bold'), local('Open sans-Bold'),
      url(../fonts/open-sans-bold.woff2) format("woff2"),
      url(../fonts/open-sans-bold.woff) format("woff");
}

@font-face {
  font-family: 'Open sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open sans Italic'), local('Open sans-Italic'),
      url(../fonts/open-sans-italic.woff2) format("woff2"),
      url(../fonts/open-sans-italic.woff) format("woff");
}

:root {
  --color_purple: #9d5cd0;
  --color_purple_light: #c283f3;
  --color_purple_deep: #7943a4;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: 'Open sans', sans-serif;
  font-style: normal;
  background-color: #fff;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
  border: none;
  border-radius: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  max-width: 1700px;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* header */

.header-top {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 1);
}

.container-header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
}

.logo-link {
  display: inline-block;
  margin-right: 30px;
  transition: backgroud-color .3s ease-in-out;
}

.logo-link:focus {
  outline: none;
  border: none;
  background-color: var(--color_purple_deep);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  width: 100%;
}

.nav__link {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color .3s ease-in-out, backgroud-color .3s ease-in-out;
}

.nav__link:focus {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--color_purple_deep);
}

.nav__link:hover {
  color: var(--color_purple_light);
  background-color: inherit;
}

.nav__link:active {
  color: var(--color_purple_deep);
  background-color: inherit;
}

.login-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  white-space: nowrap;
  color: #fff;
  transition: color .3s ease-in-out, backgroud-color .3s ease-in-out;
}

.login-link:focus {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--color_purple_deep);
}

.login-link:hover {
  color: var(--color_purple_light);
  background-color: inherit;
}

.login-link:active {
  color: var(--color_purple_deep);
  background-color: inherit;
}

.login-link svg path {
  transition: fill .3s ease-in-out;
}

.login-link:hover svg path {
  fill: var(--color_purple_light);
}

.login-link:active svg path {
  fill:  var(--color_purple_deep);
}

.header-bottom {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.container-header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 300px;
}

.nav-bottom {
  width: 100%;
  max-width: 950px;
}

.nav-bottom__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-bottom__item {
  position: relative;
}

.nav-bottom__link{
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.nav-bottom__button {
  padding: 1px 3px;
  color: #fff;
  transition: color .3s ease-in-out, backgroud-color .3s ease-in-out;
}

.nav-bottom__button svg path {
  transition: stroke .3s ease-in-out;
}

.nav-bottom__button:focus {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--color_purple_deep);
}

.nav-bottom__button:hover {
  color: var(--color_purple_light);
  background-color: inherit;
}

.nav-bottom__button:hover svg path {
  stroke: var(--color_purple_light);
}

.nav-bottom__button.active {
  color: var(--color_purple_deep);
  background-color: inherit;
}

.nav-bottom__button.active svg path {
  stroke: var(--color_purple_deep);
}

.nav-bottom__button svg {
  transition: transform .3s ease-in-out;
}

.nav-bottom__button.active svg {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 44px;
  left: 0;
  display: inline-block;
  padding: 40px;
  padding-right: 18px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(0);
  transform-origin: 0 0;
  visibility: hidden;
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
}

.dropdown.active {
  transform: scale(1);
  visibility: visible;
}

.dropdown__bar {
  height: 100%;
  overflow: auto;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.dropdown__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 14px;
  min-height: 40px;
}

.dropdown__link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.dropdown__link_number_1-1::before {
  background-image: url(../img/dropdown1-item1.jpg);
}

.dropdown__link_number_1-2::before {
  background-image: url(../img/dropdown1-item2.jpg);
}

.dropdown__link_number_1-3::before {
  background-image: url(../img/dropdown1-item3.jpg);
}

.dropdown__link_number_1-4::before {
  background-image: url(../img/dropdown1-item4.jpg);
}

.dropdown__link_number_1-5::before {
  background-image: url(../img/dropdown1-item4.jpg);
}

.dropdown__link_number_2-1::before {
  background-image: url(../img/dropdown2-item1.jpg);
}

.dropdown__link_number_2-2::before {
  background-image: url(../img/dropdown2-item2.jpg);
}

.dropdown__link_number_2-3::before {
  background-image: url(../img/dropdown2-item3.jpg);
}

.dropdown__link_number_2-4::before {
  background-image: url(../img/dropdown2-item4.jpg);
}

.dropdown__link_number_2-5::before {
  background-image: url(../img/dropdown2-item4.jpg);
}

.dropdown__link_number_3-1::before {
  background-image: url(../img/dropdown3-item1.jpg);
}

.dropdown__link_number_3-2::before {
  background-image: url(../img/dropdown3-item2.jpg);
}

.dropdown__link_number_3-3::before {
  background-image: url(../img/dropdown3-item3.jpg);
}

.dropdown__link_number_3-4::before {
  background-image: url(../img/dropdown3-item4.jpg);
}

.dropdown__link_number_3-5::before {
  background-image: url(../img/dropdown3-item4.jpg);
}

.dropdown__link_number_4-1::before {
  background-image: url(../img/dropdown4-item1.jpg);
}

.dropdown__link_number_4-2::before {
  background-image: url(../img/dropdown4-item2.jpg);
}

.dropdown__link_number_4-3::before {
  background-image: url(../img/dropdown4-item3.jpg);
}

.dropdown__link_number_4-4::before {
  background-image: url(../img/dropdown4-item4.jpg);
}

.dropdown__link_number_4-5::before {
  background-image: url(../img/dropdown4-item4.jpg);
}

.dropdown__link_number_5-1::before {
  background-image: url(../img/dropdown5-item1.jpg);
}

.dropdown__link_number_5-2::before {
  background-image: url(../img/dropdown5-item2.jpg);
}

.dropdown__link_number_5-3::before {
  background-image: url(../img/dropdown5-item3.jpg);
}

.dropdown__link_number_5-4::before {
  background-image: url(../img/dropdown5-item4.jpg);
}

.dropdown__link_number_5-5::before {
  background-image: url(../img/dropdown5-item4.jpg);
}

.dropdown__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.dropdown__link:focus {
  border: none;
  outline: none;
}

.dropdown__link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.dropdown__link:focus::after {
  outline: 2px solid var(--color_purple_light);
  outline-offset: -2px;
}

.dropdown__link:hover::after {
  outline: 2px solid var(--color_purple_light);
  outline-offset: -2px;
}

.dropdown__link:active::after {
  outline: 2px solid #d1a9f0;
  outline-offset: -2px;
  background-color: rgba(194, 131, 243, 0.4);
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: #fff;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.search {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -75px;
  right: 50px;
  z-index: 1;
}

.search__btn{
  margin-right: 10px;
}

.search__input {
  max-width: 220px;
  color: #fff;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  transition: border .3s ease-in-out;
}

.search__input:focus {
  outline: none;
  border-bottom: 1px solid var(--color_purple_light);
}

.search__input:hover {
  outline: none;
  border-bottom: 1px solid var(--color_purple_light);
}

.search__input:active {
  outline: none;
  border-bottom: 1px solid var(--color_purple_deep);
}

.search__close-btn {
  display: none;
}

.search__input::placeholder {
  color: #fff;
}

/* hero */

.hero {
  margin-top: -170px;
  margin-bottom: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: background 30000ms infinite, zoom 40000ms infinite;
}

@keyframes zoom {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes background {
  0% {
    background-image: url(../img/Hero1-1920.jpg);
  }
  25% {
    background-image: url(../img/Hero2-1920.jpg);
  }
  75% {
    background-image: url(../img/Hero3-1920.jpg);
  }
  100% {
    background-image: url(../img/Hero1-1920.jpg);
  }
}

.hero-content {
  padding-top: 233px;
  padding-bottom: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.hero-content__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #fff;
}

.hero-content__text {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.hero-content__link {
  display: inline-block;
  padding: 22px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-color: var(--color_purple);
  border-radius: 100px;
  transition: background-color .3s ease-in-out;
}

.hero-content__link:focus {
  border: none;
  outline: 2px solid var(--color_purple_light);
  outline-offset: 5px;
}

.hero-content__link:hover {
  border: none;
  outline: 3px solid var(--color_purple_light);
  outline-offset: 0;
}

.hero-content__link:active {
  border: none;
  outline: 3px solid var(--color_purple_light);
  background-color: var(--color_purple_deep);
  outline-offset: 0;
}

/* about */

.about {
  margin-bottom: 80px;
}

.about__text {
  max-width: 1080px;
}

/* gallery */

.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../img/Gallery-bcg-1920.jpg) no-repeat;
  background-size: 100% 100%;
}

.gallery__title {
  color: #fff;
}

.gallery__content {
  display: flex;
  justify-content: space-between;
}

.gallery__select {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex: 1;
  margin-right: 50px;
  min-width: 400px;
}

.gallery__subtitle {
  margin-bottom: 10px;
  color: #fff;
}

.gallery__text {
  margin-top: -120px;
  max-width: 400px;
  color: #fff;
}

.gallery__link {
  color:var(--color_purple);
  cursor: pointer;
}

.choices {
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.choices__inner {
  position: relative;
  min-height: 40px;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: inherit;
}

.is-focused .choices__inner {
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__inner {
  border: 1px solid #fff;
  border-radius: 6px;
}

.choices__list--dropdown {
  top: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out, top .3s ease-in-out;
}

.is-open .choices__list--dropdown {
  position: relative;
  top: 0;
  opacity: 1;
  border: 1px solid #fff;
  border-radius: 6px;
  background: inherit;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: inherit;
}

.choices__list--dropdown .choices__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color .3s ease-in-out
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  top: 28px;
  border-width: 0px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(135deg);
  margin-top: -6px;
  z-index: 3;
  transition: transform .3s ease-in-out;
}

.choices[data-type*=select-one].is-open:after {
  border-width: 0px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(-45deg);
  margin-top: -3px;
  z-index: 3;
}

.gallery__swiper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.swiper-grid-column>.swiper-wrapper {
  flex-direction: row;
}

.swiper-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
  max-width: 130px;
}

.swiper-button-prev, .swiper-button-next {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.swiper-pagination {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  bottom: 0;
  color: #fff;
}

.swiper-button-next:after, .swiper-button-prev:after {
  position: absolute;
  font-size: 12px;
  color: #fff;
}

.swiper-button-next::before, .swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #666;
  border-radius: 20px;
}

.swiper-button-next:hover::before, .swiper-button-prev:hover::before {
  background-color: var(--color_purple);
}

.swiper-button-next:focus::before, .swiper-button-prev:focus::before {
  border: 2px solid #000;
}

.swiper-button-next:active::before, .swiper-button-prev:active::before {
  background-color: var(--color_purple_deep);
  border: 2px solid #000;
}

.swiper-slide {
  height: 350px;
}

.swiper-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

@media (max-width: 1600px) {

/* gallery */

.gallery__select {
  min-width: 280px;
}

.swiper-slide {
  max-height: 280px;
}

.gallery__text {
  margin-top: -150px;
  max-width: 280px;
}

}

@media (max-width: 1024px) {

  /* header */

  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    top: -24px;
    left: -100%;
    margin-right: 0;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    max-width: unset;
    width: 100%;
    height: 771px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .3s ease;
    z-index: 2;
  }

  .nav.active {
    visibility: visible;
    left: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__item {
    margin-bottom: 40px;
  }

  .burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    z-index: 5;
  }

  .burger__line {
    display: block;
    position: absolute;
    background-color: #fff;
    width: 28px;
    height: 3px;
    left: 0;
    top: 12px;
    transition: all .3s ease;
  }

  .burger:before,
  .burger:after {
    content:'';
    position: absolute;
    background-color: #fff;
    height: 3px;
    left: 0;
    transition: all .3s ease;
  }

  .burger:before {
    top: 0;
    width: 36px;
  }

  .burger:after {
    bottom: 0;
    width: 24px;
  }

  .burger.active .burger__line {
    transform: scale(0);
  }

  .burger.active:before {
    transform: rotate(45deg);
    top: 12px;
    width: 28px;
  }

  .burger.active:after {
    transform: rotate(-45deg);
    bottom: 13px;
    width: 28px;
  }

  .logo-link {
    margin-right: 0;
  }

  .login-link {
    display: inline-block;
    align-self: start;
    padding: 20px 88px;
    border: 2px solid var(--color_purple);
    border-radius: 100px;
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
  }

  .login-link:focus {
    color: #fff;
    border: 2px solid var(--color_purple);
    outline: 2px solid var(--color_purple_light);
    outline-offset: 5px;
    background-color: inherit;
  }

  .login-link:hover {
    color: #fff;
    outline: none;
    background-color: var(--color_purple);
  }

  .login-link:active {
    color: #fff;
    outline: none;
    border: 2px solid #d1a9f0;
    background-color: var(--color_purple_deep);
  }

  .login-link:hover svg path {
    fill: #fff;
  }

  .login-link:active svg path {
    fill:  #fff;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
  }

  .search__input {
    display: none;
  }

  .search.active .search__input {
    display: inline-block;
  }

  .header-bottom {
    display: none;
  }

  .search__btn {
    margin-right: 0;
  }

  /* hero */

  .hero {
    margin-top: -100px;
    background-size: cover;
  }

  @keyframes background {
    0% {
      background-image: url(../img/Hero1-1024.jpg);
      background-size: 100% 100%;
    }
    25% {
      background-image: url(../img/Hero2-1024.jpg);
    }
    50% {
      background-size: 120% 120%;
    }
    75% {
      background-image: url(../img/Hero3-1024.jpg);
    }
    100% {
      background-image: url(../img/Hero1-1024.jpg);
      background-size: 100% 100%;
    }
  }

  .hero-content {
    padding-top: 205px;
  }

  /* gallery */

  .gallery__select {
    min-width: 280px;
  }

  .swiper-slide {
    max-height: 280px;
  }

  .swiper-img {
    max-width: 280px;
    max-height: 280px;
  }

}

@media (max-width: 768px) {

  .search.active {
    position: absolute;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    top: -28px;
    width: 100%;
    height: 100px;
    background-color: #000;
    z-index: 5;
  }

  .search__input {
    margin-left: 20px;
    margin-right: 20px;
    max-width: unset;
    width: 100%;
  }

  .search.active .search__close-btn {
    display: inline-block;
  }

  /* galery */

  .gallery__content {
    flex-direction: column;
  }

  .swiper-pagination {
    bottom: 10px;
  }

  .gallery__text {
    margin-top: 0;
    max-width: unset;
  }
}

@media (max-width: 640px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }

  .section-text {
    font-size: 14px;
    line-height: 28px;
  }

  /* header */

  .header-top {
    height: 50px;
    background-color: unset;
  }

  .logo {
    max-width: 97px;
  }

  .nav {
    top: -17px;
  }

  .search {
    align-items: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .search.active {
    padding-right: 15px;
    top: -12px;
    height: 70px;
  }

  .search__btn svg {
    width: 16px;
    height: 16px;
  }

  .search__close-btn {
    align-self: start;
  }

  .search__close-btn svg {
    width: 15px;
    height: 15px;
  }

  /* hero */

  .hero {
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .hero-content {
    padding-top: 75px;
    padding-bottom: 45px;
    align-items: center;
    margin: auto;
    max-width: 265px;
    width: 100%;
  }

  .hero-content__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 115%;
    text-align: center;
  }

  .hero-content__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .hero-content__link {
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }

  .nav {
    padding-left: 15px;
    padding-top: 45px;
    padding-bottom: 27px;
    height: 370px;
  }

  .nav__item {
    margin-bottom: 2px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger__line {
    width: 16px;
    height: 2px;
    top: 7px;
  }

  .burger::before {
    width: 25px;
    height: 2px;
  }

  .burger::after {
    width: 10px;
    height: 2px;
  }

  .burger.active:before {
    transform: rotate(45deg);
    top: 7px;
    width: 19px;
  }

  .burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
    width: 19px;
  }

  .login-link {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 16px;
  }

  /* about */

  /* gallery */

  .gallery__select {
    margin-bottom: 50px;
  }

  .gallery__swiper {
    flex-direction: column-reverse;
    align-items: center;
  }

}
